/* html {
  box-sizing: border-box;
}
(нужно только если НЕТ normalize!)
*,
*::before,
*::after {
  box-sizing: inherit;
} */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --bright-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
}
body {
  background-color: var(--primary-white-color);

  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
.accent {
  color: var(--accent-color);
}
.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* после оформления убрать */
  background-color: lightpink;
}
.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
}
/* button или btn */
.button {
  border: transparent;
  border-radius: 4px;

  /* т.к. есть normalize, то
   font-family: inherit; уже не надо*/
  text-decoration: none;
  cursor: pointer;
}
/* мой личный reset */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* height: 80px; - динамическая*/
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  /* margin: 0 auto; - тоже самое, 
  только это составное свойство и 
  Репета НЕ рекомендует! */
  /* после оформления убрать */
  outline: 2px solid tomato;
}

/* шапка */
.page-header {
  /* после оформления убрать */
  background-color: lightgrey;
}
/* main nav */
.main-nav {
  display: flex;
  align-items: center;
}
/* logo */
.logo {
  color: var(--primary-black-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.page-header .logo {
  margin-right: 93px;
}
/* .logo:hover,
.logo:focus {
  color: var(--accent-color);
}  а надо ли?*/

/* menu nav */
.menu-nav {
  display: flex;
}
/* 1-й вариант - удобный */
.menu-nav .item + .item {
  margin-left: 50px;
  /* после оформления убрать */
  outline: 2px solid tomato;
  background-color: lightpink;
}
/*  .menu-nav .item:not(:last-child) {
  margin-right: 50px;
} 2-й вариант современный, но сложный*/
/* .menu-nav .item:last-child {
  margin-right: 0;
} 3-й вариант дать дополнительный селектор  */
.menu-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
}
.menu-nav .link.current {
  color: var(--accent-color);
}
.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--accent-color);
}
/* contacts */
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts .item + .item {
  margin-left: 50px;
  /* после оформления убрать */
  outline: 2px solid tomato;
  background-color: gold;
}
.header-contacts .link {
  display: block;
  /*  уже задано в menu-nav */
  /* padding-top: 32px;
  padding-bottom: 32px; */

  color: var(--primary-text-color);
  font-weight: 500;
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* Ситили для index.html */
/* hero */
.hero {
  text-align: center;
  background-color: var(--dark-bg-color);
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  /* можно заменить margin: 0 auto 30px; */
  /* после оформления убрать */
  outline: 1px solid tomato;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button.primary {
  background-color: var(--accent-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  /* padding: 10px 32px; - тоже самое, 
  только это составное свойства и 
  Репета НЕ рекомендует!*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* если надо */
  min-width: 200px;

  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.button.primary:hover,
.button.primary:focus {
  background-color: #188ce8;
}
/* features */
.features {
  display: flex;
}
.features .item + .item {
  margin-left: 30px;
}
.features .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features .text {
  /* после оформления скрыть */
  outline: 3px solid teal;

  font-size: 14px;
  line-height: 1.71;
}
/* work */
.section.work {
  padding-top: 0;
  /* после оформления убрать */
  background-color: wheat;
}
/* team */
.team {
  background-color: var(--bright-bg-color);

  font-size: 16px;
  line-height: 1.19;
}
.team .title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
}
/* (надо ли?) */
/* .team .text {
  margin-bottom: 30px;
} */

/* Стили для portfolio.html */
/* filters */
.filters {
  margin-bottom: 50px;
}
.button.secondary {
  background-color: var(--bright-bg-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  /* padding: 6px 22px; - тоже самое, 
  только это составное свойства и 
  Репета НЕ рекомендует! */

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--primary-white-color);
}
/* portfolio */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio .item:nth-child(3n + 1) {
  margin-right: 30px;
}
.portfolio .item:nth-child(3n + 3) {
  margin-left: 30px;
}
.portfolio .title {
  margin-top: 20px;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/* footer */
.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;

  font-size: 14px;
  line-height: 1.71;
}
.footer .logo {
  color: var(--primary-white-color);
}
/* .footer .logo:hover,
.footer .logo:focus {
  color: var(--accent-color);
} а надо ли?*/

/* address */
.address {
  margin-top: 20px;
  /* margin-bottom: 60px; */

  font-style: normal;
}
.address-link {
  color: var(--primary-white-color);
}
.address-contacts {
  padding-top: 9px;

  color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus,
.address-contacts:hover,
.address-contacts:focus {
  color: var(--accent-color);
}

/* common.css (типовые стили) можно делать, можно не делать */
/* Палитра цветов из макета

белый цвет #FFFFFF
черный цвет #000000

основной цвет текста #757575
вторичный цвет текста #212121

акцент, ховер и фокус #2196F3
ховер и фокус для button #188CE8

фон hero и footer  #2F303A
фон 1-я страница и фильтр 2-я #F5F4FA
фон 2-я страница #EEEEEE

контакты в footer rgba(255, 255, 255, 0.6)
*/
